<?xml version="1.0" encoding="UTF-8"?>


<config>
    <modules>
        <Juicy_Geoip>
            <version>1.1.0</version>
        </Juicy_Geoip>
    </modules>
    <global>
        <helpers>
            <geoip>
                <class>Juicy_Geoip_Helper</class>
            </geoip>
        </helpers>
        <blocks>
            <geoip>
                <class>Juicy_Geoip_Block</class>
            </geoip>
        </blocks>
        <models>
            <geoip>
                <class>Juicy_Geoip_Model</class>
            </geoip>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <geoip>
                        <type>singleton</type>
                        <class>geoip/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </geoip>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <juicy_geoip before="Mage_Adminhtml">Juicy_Geoip_Adminhtml</juicy_geoip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <geoip>
                    <file>juicy/geoip.xml</file>
                </geoip>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geoip>
                        <class>geoip/observer</class>
                        <method>controllerActionPredispatch</method>
                    </geoip>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>

    <crontab>
        <jobs>
            <geoip_update>
                <schedule><cron_expr>0 0 * * 5</cron_expr></schedule>
                <run><model>geoip/cron::run</model></run>
            </geoip_update>
        </jobs>
    </crontab>

    <default>
        <general>
            <country>
                <geoip_directory>lib/Juicy/Geoip/Data</geoip_directory>
            </country>
        </general>
        <geoip>
            <general>
                <status>0</status>
                <testing>0</testing>
                <country_override></country_override>
                <switch_currency>0</switch_currency>
                <switch_store>0</switch_store>
                <apache_or_file>0</apache_or_file>
                <file_location>geoip.dat</file_location>                
            </general>  
            <geoipset>    
                       
            </geoipset>
        </geoip>
    </default>
</config>